<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymelaf/layout" >
    <header>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </header>
    <body>

        <h1>Lista de Eventos</h1>
        <h3><a href="/cadastrarEvento" class="waves-effect waves-light btn-small"><i class="material-icons left">add_circle_outline</i>Cadastrar Evento</a></h3>

        <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Local</th>
                    <th>Data</th>
                    <th>Horário</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="evento : ${eventos}">
                        <td><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}"><span th:text="${evento.nome}"></span></a></td>
                        <td><span th:text="${evento.local}"></span></td>
                        <td><span th:text="${evento.data}"></span></td>
                        <td><span th:text="${evento.horario}"></span></td>
                </tr>
            </tbody>

        </table>
        </div>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>
</html>